<footer class="site-footer">
  <div class="footer-content">
    {{ with .Site.Params.footer.copyright }}
      <p class="copyright">© {{ now.Year }} {{ . }}</p>
    {{ end }}
    <nav class="footer-links"{{ with T "footer_navigation" }} aria-label="{{ . }}"{{ end }}>
      {{ with .Site.Params.footer.github }}
        <a href="{{ . }}" target="_blank" rel="noopener">{{ T "github" }}</a>
      {{ end }}
      {{ with .Site.Params.footer.rss }}
        <a href="{{ relLangURL (strings.TrimPrefix "/" .) }}" target="_blank" rel="noopener">{{ T "rss" }}</a>
      {{ end }}
      {{ range .Site.Params.footer.links }}
        {{- $linkName := .name }}
        {{- with .identifier }}
          {{- with T . }}
            {{- $linkName = . }}
          {{- end }}
        {{- end }}
        <a href="{{ if hasPrefix .url "http" }}{{ .url }}{{ else }}{{ relURL (strings.TrimPrefix "/" .url) }}{{ end }}" target="_blank" rel="noopener">{{ $linkName }}</a>
      {{ end }}
    </nav>
  </div>
</footer>
