<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{- $dr := site.Params.digitalRain | default dict }}
  <canvas id="digital-rain-canvas"
    data-enable="{{ $dr.enable }}"
    data-chars="{{ $dr.chars }}"
    data-font-size="{{ $dr.fontSize }}"
    data-moon-chance="{{ $dr.moonChance }}"
    data-reset-chance="{{ $dr.resetChance }}"></canvas>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
