{{ define "main" }}
{{- if or .Content .Pages }}
<div class="article-layout">
  {{ partial "sidebar.html" (dict "page" .) }}

  <div class="glass-card">
    <div class="page-nav-bar">
      {{ partial "back-button.html" . }}
      {{ partial "breadcrumb.html" . }}
    </div>
    <h1>{{ .Title }}</h1>

    {{- $authors := partial "get-authors.html" . }}
    {{- if or (not .Date.IsZero) $authors }}
    <div class="article-meta">
      {{- if not .Date.IsZero }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{- end }}
      {{- with $authors }}
      <span class="article-meta__author">
        <span class="article-meta__label">{{ T "author" }}</span>
        {{- $sep := T "author_separator" }}
        <span class="article-meta__names">
          {{- range $i, $a := . }}
          {{- if $i }}<span aria-hidden="true">{{ $sep }}</span>{{ end -}}
          <span>{{ $a.name }}</span>
          {{- end }}
        </span>
      </span>
      {{- end }}
    </div>
    {{- end }}

    {{- with .Content }}
    <div class="markdown">{{ . }}</div>
    {{- end }}

    {{ partial "prev-next-nav.html" . }}
  </div>
</div>
{{- end }}
{{ end }}